.cfs {
  box-sizing: border-box;
  max-width: 1024px;
  font-size: 0.925rem;
  padding: 4em 2em;
  margin: auto;
  background-color: #333333;
  border-radius: 16px;
  font-variation-settings: "CASL" 0;
}

@media (max-width: 319px) {
  .cfs {
    padding: 2em 0.5em;
  }
}

.cfs * {
  overflow-wrap: break-word;
  hyphens: manual;
}

@media (max-width: 1024px) {
  .cfs {
    border-radius: 0;
  }
}

.cfs .speaker {
  fill: currentColor;
  max-width: 250px;
  float: right;
}

@media (max-width: 685px) {
  .cfs .speaker {
    max-width: min(80%, 200px);
    float: none;
    margin: auto;
    display: block;
  }
}

.cfs p,
.cfs li {
  font-variation-settings: "CASL" 1;
}

.cfs img {
  display: block;
  max-width: 250px;
  width: 100%;
  margin: auto;
  filter: invert();
  opacity: 0.9;
}

.cfs ul {
  padding-left: 2em;
}

.cfs .check li {
  display: flex;
  align-items: baseline;
  list-style: none;
  position: relative;
}

.cfs .check li svg {
  position: absolute;
  left: -1.3em;
  top: 0.08em;
  height: 1em;
  width: 1em;
}
